---
import Product from "@/components/react/Product.tsx"
import { getProducts } from "@/utils/fetchData.ts"

const products = await getProducts()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="grid min-h-screen max-w-full">
		<h1 class="text-center text-2xl font-bold">Productos</h1>
		<Product products={products} />
	</body>
</html>